.month-wrapper-full {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
}
.month-wrapper {
  margin-bottom: 100px;
}

.month-wrapper header {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.days {
   flex-grow: 88;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin: 1; padding: 1;
}

.days div {
  width: calc(100% * 1/7);
  height: 100px;
  border: 1px solid #ddd;
  border-width: 1px 0 0 1px;
}

.days > div:nth-child(-n+7) {
  border-top-width: 0;
}

.day-names {
  font-size: 1em;
  color: #666;
  flex-grow: 5;
  display: flex;
  align-items: center;
  
}

.day-names p {
  border: 1px solid #ddd;
  border-width: 1px 0 0 1px;
  padding: 5px;
  margin: 0px;
  width: calc(100% * 1/7);
  flex-grow: 1;
  text-align: center;
}

.day-number {
  float: right;
  padding: 1em;
}

.day:hover {
  background-color: rgb(255, 142, 81);
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
}

.month-days-wrapper {
  border-left: 1px;
  border-right: 1px;
  border-top: 1px;
  border-bottom: 1px;
  border-color: rgb(223, 97, 0, 0.8);
  border-style: solid;
}

select {
  cursor: pointer;
  height: 35px;
  width: 100px;
}

.month-header {
  padding-top: 17px;
  flex-grow: 10;
}

.skip-button {
  cursor: pointer;
}

.day-header {
  margin-top: 5px;
  flex-grow: 10;
  font-size: 20px;
}

/*  ipad pro */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
  
  .skip-button {
    border-radius: 8px;
    background-color: rgb(223, 97, 0);
    padding: 5px;
    color: white;
    margin: 5px;
    margin-top: 10px;
    padding-top:10px;
    height: 50px;
    width: 100px;
    cursor: pointer;
  }
  
  .skip-button-wrap {
    display: flex;
    flex-grow: 1;
  }

  /* .month-days-wrapper {
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-bottom: 1px;
    border-color: rgb(223, 97, 0, 0.8);
    color:rgb(223, 97, 0, 0.8);
    border-style: solid;
    height: 75vh;
  } */

  .days div {
    width: calc(100% * 1/7);
    height: 13.2vh;
    border: 1px solid #ddd;
    border-width: 1px 0 0 1px;
  }

  .month-header {
    padding-top: 20px;
    width: 100%;
  }

  .header-wrap {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
  }

  .selector{
    width: 200px;
    padding-top: 10px;
    margin-top: 10px;
    height: 50px;
    background-color: rgb(223, 97, 0);
    text-align-last:center;
    padding-bottom: 7px;
    color: white;
  }


}

/* ipad */
@media only screen and (min-device-width: 768px) and (max-device-width: 768px) and (orientation: portrait) {
  .days div {
    width: calc(100% * 1/7);
    height: 13vh;
    border: 1px solid #ddd;
    border-width: 1px 0 0 1px;
  }

  .month-header {
    padding-top: 7px;
    width: 250px;
    padding-top: 15px;
  }

  .day-header {
    padding-top: 10px;
    margin-top: 5px;
    width: 250px;
    font-size: 20px;
  }

  .skip-button {
    border-radius: 8px;
    background-color: rgb(223, 97, 0);
    padding: 5px;
    color: white;
    margin: 5px;
    padding-top:10px;
    height: 90%;
    width: 100%;
  }
  
  .skip-button-wrap {
    display: flex;
    width: 250px;
    height: 50px;
  }

  .selector{
    width: 250px;
    padding-top: 10px;
    height: 50px;
    background-color: rgb(223, 97, 0);
    text-align-last: center;
    padding-bottom: 7px;
    color: white;
  }

  
}

/* Plus size phones */
@media only screen and (min-device-width: 411px) and (max-device-height: 767px) and (orientation: portrait){
  .days div {
    width: calc(100% * 1/7);
    height: 12.5vh;
    border: 1px solid #ddd;
    border-width: 1px 0 0 1px;
  }

  .month-header {
    padding-top: 7px;
    flex-grow: 10;
  }

  .skip-button {
    border-radius: 8px;
    height: 33px;
    background-color: rgb(223, 97, 0);
    padding: 5px;
    font-size: 15px;
    color: white;
    margin: 2px;
  }
  
  .skip-button-wrap {
    display: flex;
    flex-grow: 1;
  }

  .header-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .selector {
    height: 33px;
    margin-top: 1px;
    font-size: 15px;
    background-color:rgb(223, 97, 0);
    color: white;
    text-align-last: center;
  }
}


/* iphone 6 7 8  */
@media only screen and (min-device-width: 321px) and (max-device-height: 375px) and (orientation: portrait) {
  .skip-button {
    border-radius: 8px;
    background-color: rgb(223, 97, 0);
    padding: 5px;
    color: white;
    margin: 2px;
    font-size: 15px;
    height: 33px;
  }
  
  .skip-button-wrap {
    display: flex;
    flex-grow: 1;
  }

  /* .month-days-wrapper {
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-bottom: 1px;
    border-color: rgb(223, 97, 0, 0.8);
    color:rgb(223, 97, 0, 0.8);
    border-style: solid;
    height: 76vh;
  } */

  .days div {
    width: calc(100% * 1/7);
    height: 12.4vh;
    border: 1px solid #ddd;
    border-width: 1px 0 0 1px;
  }

  .month-header {
    padding-top: 7px;
    flex-grow: 7;
    margin-bottom: 7px;
  }

  .selector {
    height: 33px;
    margin-top: 1px;
    font-size: 15px;
    background-color:rgb(223, 97, 0);
    color: white;
    text-align-last: center;
  }

  .header-wrap {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 7px;
  }
}

/* iphone SE / galaxy small screen */
@media only screen and (max-device-height: 568px) and (orientation: portrait) { 
  .skip-button {
    border-radius: 8px;
    background-color: rgb(223, 97, 0);
    padding: 5px;
    color: white;
    margin: 2px;
  }
  
  .skip-button-wrap {
    display: flex;
    flex-grow: 1;
  }

  /* .month-days-wrapper {
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-bottom: 1px;
    border-color: rgb(223, 97, 0, 0.8);
    color:rgb(223, 97, 0, 0.8);
    border-style: solid;
    height: 72vh;
  } */

  .days div {
    width: calc(100% * 1/7);
    height: 12vh;
    border: 1px solid #ddd;
    border-width: 1px 0 0 1px;
  }

  .month-header {
    padding-top: 10px;
    flex-grow: 7;
  }

  .header-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    margin-bottom: 3px;
  }


} 

/* iphone x  */
@media only screen and (min-device-width: 375px) and (max-device-height: 376px) and (orientation: portrait) {
  .skip-button {
    border-radius: 8px;
    background-color: rgb(223, 97, 0);
    padding: 5px;
    color: white;
    margin: 2px;
    font-size: 15px;
    height: 33px;
  }
  
  .skip-button-wrap {
    display: flex;
    flex-grow: 1;
  }
/* 
  .month-days-wrapper {
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-bottom: 1px;
    border-color: rgb(223, 97, 0, 0.8);
    color:rgb(223, 97, 0, 0.8);
    border-style: solid;
    height: 76vh;
  } */

  .days div {
    width: calc(100% * 1/7);
    height: 13vh;
    border: 1px solid #ddd;
    border-width: 1px 0 0 1px;
  }

  .month-header {
    padding-top: 7px;
    flex-grow: 7;
    margin-bottom: 7px;
  }

  .selector {
    height: 33px;
    margin-top: 1px;
    font-size: 15px;
    background-color:rgb(223, 97, 0);
    color: white;
    text-align-last: center;
  }

  .header-wrap {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 7px;
  }
}

/* LANDSCAPE CALENDAR */

@media only screen and (min-device-width: 568px) and (max-device-height: 640px) and (orientation: landscape) {
  /* .month-days-wrapper {
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-bottom: 1px;
    border-color: rgb(223, 97, 0, 0.8);
    color: rgb(223, 97, 0, 0.8);
    border-style: solid;
    height: 149vh;
  } */

  .skip-button {
    border-radius: 8px;
    background-color: rgb(223, 97, 0);
    padding: 5px;
    color: white;
    margin: 2px;
    font-size: 15px;
    height: 33px;
  }
  
  .skip-button-wrap {
    display: flex;
    flex-grow: 1;
  }

  .header-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 3px;
  }

  .month-header {
    padding-top: 9px;
    width: 500px;
  }

  .selector {
    height: 33px;
    margin-top: 1px;
    font-size: 15px;
    background-color:rgb(223, 97, 0);
    color: white;
    text-align-last: center;
  }
}


/* 
  ##Device = phones (landscape)
  ##Screen = B/w 568px to 823px
*/

@media only screen and (min-device-width: 641px) and (max-device-height: 823px) and (orientation: landscape) {
  .month-days-wrapper {
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-bottom: 1px;
    border-color: rgb(223, 97, 0, 0.8);
    color: rgb(223, 97, 0, 0.8);
    border-style: solid;
    height: 130vh;
  }

  .skip-button {
    border-radius: 8px;
    background-color: rgb(223, 97, 0);
    padding: 5px;
    color: white;
    margin: 2px;
    font-size: 15px;
    height: 33px;
  }
  
  .skip-button-wrap {
    display: flex;
    flex-grow: 1;
  }

  .header-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 3px;
  }

  .month-header {
    width: 500px;
    margin-bottom: 10px;
    padding-top: 10px;
  }

  .selector {
    height: 33px;
    margin-top: 1px;
    font-size: 15px;
    background-color:rgb(223, 97, 0);
    color: white;
    text-align-last: center;
  }

}

/*  ipad landscape */
@media only screen and (min-device-width: 769px) and (max-device-height: 1024px) and (orientation: landscape) {
    .days div {
      width: calc(100% * 1/7);
      height: 12.7vh;
      border: 1px solid #ddd;
      border-width: 1px 0 0 1px;
    }

    .skip-button {
      border-radius: 8px;
      background-color: rgb(223, 97, 0);
      padding: 5px;
      color: white;
      margin: 2px;
      font-size: 15px;
      height: 33px;
    }
    
    .skip-button-wrap {
      display: flex;
      flex-grow: 1;
    }
  
    /* .month-days-wrapper {
      border-left: 1px;
      border-right: 1px;
      border-top: 1px;
      border-bottom: 1px;
      border-color: rgb(223, 97, 0, 0.8);
      color:rgb(223, 97, 0, 0.8);
      border-style: solid;
      height: 73vh;
    } */
 
    .month-header {
      padding-top: 7px;
      width: 500px;
      margin-bottom: 7px;
    }
  
    .selector {
      height: 33px;
      margin-top: 1px;
      font-size: 15px;
      background-color:rgb(223, 97, 0);
      color: white;
      text-align-last: center;
    }
  
    .header-wrap {
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      margin-bottom: 7px;
    }
  }

/*  ipad pro landscape */
@media only screen and (min-device-width:1025px) and (max-device-height: 1366px) and (orientation: landscape) {
  .days div {
    width: calc(100% * 1/7);
    height: 12.9vh;
    border: 1px solid #ddd;
    border-width: 1px 0 0 1px;
  }

  .skip-button {
    border-radius: 8px;
    background-color: rgb(223, 97, 0);
    padding: 11px;
    color: white;
    margin: 5px;
    font-size: 20px;
    height: 53px;
    width: 150px;
  }
  
  .skip-button-wrap {
    display: flex;
    flex-grow: 1;
  }

  .month-header {
    /* padding-top: 7px; */
    width: 1000px;
    margin-bottom: 7px;
    font-size: 25px;
  }

  .day-header {
    padding-top: 7px;
    width: 1000px;
    margin-bottom: 7px;
  }

  .selector {
    height: 53px;
    width: 300px;
    margin-top: 1px;
    font-size: 20px;
    background-color:rgb(223, 97, 0);
    color: white;
    text-align-last: center;
  }

  .header-wrap {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 7px;
  }
}