.appointment-calendar {
        display: flex;
        flex-direction: row;
        position: fixed;
        justify-items: center;
        top: 10%;
        padding: 10px;
        width: 100%; /* Need a specific value to work */ 
        overflow-y: scroll;   
}

/*  ipad pro */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
        .appointment-calendar {
                height: 84.4%; 
        }
  }