.appointment-modal-header {
    text-align: center;
    padding-left: 20px;
}

.appointment-modal-title {
    font-size: 15px;
}

.appointment-modal-body {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.appointment-form-group {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    text-align: left;
}

.appointment-form-control {
    width: 100%;
    border: none;
    margin-top: 10px;
    height: 40px;
    padding-left: 10px;
    border:solid 1px #ccc;
    border-radius: 8px;
}

.appointment-modal-footer{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
}

.save-button {
    border-radius: 8px;
    background-color: rgb(255, 153, 0);
    padding: 10px;
    color: white;
}

.close-button {
    border-radius: 5px;
    background-color: rgb(103, 103, 103);
    color: white;
    padding: 10px;
}

.appointment-modal-content {
    background-color: white;
    border-radius: 10px;
    height: 80%;
    width: 50%;
    position: fixed;
      top: 50%;
      left: 50%;
      right: auto;
      bottom: auto;
    transform: translate(-50%, -50%);
    z-index: 5;
    box-shadow: 2px 7px 19px 0px rgba(0,0,0,0.75);
    padding: 20px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .appointment-modal-content {
        background-color: white;
        border-radius: 10px;
        height: 70%;
        width: 75%;
        position: fixed;
          top: 50%;
          left: 50%;
          right: auto;
          bottom: auto;
        transform: translate(-50%, -50%);
        z-index: 5;
        box-shadow: 2px 7px 19px 0px rgba(0,0,0,0.75);
        padding: 20px;
    }
    
    
  }

  /* Plus size phones  */
  @media (min-width: 411px) and (max-width: 500px) {
    .appointment-modal-content {
        background-color: white;
        border-radius: 10px;
        height: 79vh;
        width: 87%;
        position: fixed;
          top: 52%;
          left: 50%;
          right: auto;
          bottom: auto;
        transform: translate(-50%, -50%);
        z-index: 5;
        box-shadow: 2px 7px 19px 0px rgba(0,0,0,0.75);
        padding: 10px;
        overflow-y: scroll;
    }

    .appointment-form-control {
        width: 100%;
        border: none;
        margin-top: 5px;
        height: 30px;
        padding-left: 10px;
        border:solid 1px #ccc;
        border-radius: 5px;
    }

    .appointment-modal-footer{
        display: flex;
        flex-direction: row-reverse;
        margin-top: 30px;
    }

}

  /* iphone 6 7 8  */
@media (min-width: 321px) and (max-width: 410px) {
    .appointment-modal-content {
        background-color: white;
        border-radius: 10px;
        height: 79vh;
        width: 87%;
        position: fixed;
          top: 52%;
          left: 50%;
          right: auto;
          bottom: auto;
        transform: translate(-50%, -50%);
        z-index: 5;
        box-shadow: 2px 7px 19px 0px rgba(0,0,0,0.75);
        padding: 10px;
        overflow-y: scroll;
    }

    .appointment-form-control {
        width: 100%;
        border: none;
        margin-top: 5px;
        height: 30px;
        padding-left: 10px;
        border:solid 1px #ccc;
        border-radius: 5px;
    }

    .appointment-modal-footer{
        display: flex;
        flex-direction: row-reverse;
        margin-top: 50px;
    }

}


  /* iphone SE / galxy small screen */
@media (max-width: 320px) {
    .appointment-modal-content {
        background-color: white;
        border-radius: 10px;
        height: 76vh;
        width: 83%;
        position: fixed;
          top: 53%;
          left: 50%;
          right: auto;
          bottom: auto;
        transform: translate(-50%, -50%);
        z-index: 5;
        box-shadow: 2px 7px 19px 0px rgba(0,0,0,0.75);
        padding: 10px;
        overflow-y: scroll;
    }

    .appointment-form-control {
        width: 100%;
        border: none;
        margin-top: 5px;
        height: 30px;
        padding-left: 10px;
        border:solid 1px #ccc;
        border-radius: 5px;
    }
  
}

/* LANDSCAPE */

/* iphone 5 and se landscape */
@media only screen and (min-width: 568px) and (max-width: 568px) and (orientation: landscape) {
    .appointment-modal-content {
        background-color: white;
        border-radius: 10px;
        height: 76vh;
        width: 83%;
        position: fixed;
          top: 53%;
          left: 50%;
          right: auto;
          bottom: auto;
        transform: translate(-50%, -50%);
        z-index: 5;
        box-shadow: 2px 7px 19px 0px rgba(0,0,0,0.75);
        padding: 10px;
        overflow-y: scroll;
    }

    .appointment-form-control {
        width: 100%;
        border: none;
        margin-top: 5px;
        height: 30px;
        padding-left: 10px;
        border:solid 1px #ccc;
        border-radius: 5px;
    }
  }

/* regular phones */
@media only screen and (min-width: 569px) and (max-width: 823px) and (orientation: landscape) {  
    .appointment-modal-content {
        background-color: white;
        border-radius: 10px;
        height: 76vh;
        width: 83%;
        position: fixed;
          top: 53%;
          left: 50%;
          right: auto;
          bottom: auto;
        transform: translate(-50%, -50%);
        z-index: 5;
        box-shadow: 2px 7px 19px 0px rgba(0,0,0,0.75);
        padding: 10px;
        overflow-y: scroll;
    }

    .appointment-form-control {
        width: 100%;
        border: none;
        margin-top: 5px;
        height: 30px;
        padding-left: 10px;
        border:solid 1px #ccc;
        border-radius: 5px;
    }
}

/* ipad */
@media only screen and (min-width: 824px) and (max-width: 1024px) and (orientation: landscape) {
    .appointment-modal-title {
        font-size: 20px;
    }
    
    .appointment-modal-content {
        background-color: white;
        border-radius: 10px;
        height: 76vh;
        width: 83%;
        position: fixed;
          top: 53%;
          left: 50%;
          right: auto;
          bottom: auto;
        transform: translate(-50%, -50%);
        z-index: 5;
        box-shadow: 2px 7px 19px 0px rgba(0,0,0,0.75);
        padding: 10px;
        overflow-y: scroll;
    }

    .appointment-form-control {
        width: 100%;
        border: none;
        margin-top: 5px;
        height: 30px;
        padding-left: 10px;
        border:solid 1px #ccc;
        border-radius: 5px;
    }
}

/* ipad pro */
@media only screen and (min-width: 1025px) and (max-width: 1366px) and (orientation: landscape) {
    .appointment-modal-title {
        font-size: 25px;
    }
    
    .appointment-modal-content {
        background-color: white;
        border-radius: 10px;
        height: 76vh;
        width: 83%;
        position: fixed;
          top: 53%;
          left: 50%;
          right: auto;
          bottom: auto;
        transform: translate(-50%, -50%);
        z-index: 5;
        box-shadow: 2px 7px 19px 0px rgba(0,0,0,0.75);
        padding: 10px;
        overflow-y: scroll;
    }

    .appointment-form-control {
        width: 100%;
        border: none;
        margin-top: 5px;
        height: 50px;
        padding-left: 10px;
        border:solid 1px #ccc;
        border-radius: 5px;
    }

    .appointment-modal-footer{
        display: flex;
        flex-direction: row-reverse;
        margin-top: 80px;
    }
}