.main {
  grid-area: main;
}

.artist-header {
  display: flex;
  justify-content: left;
  height: 120px;
  width: 100%;
  box-shadow: 0px 0.5px;
}

.artist-header p {
  padding-top: 5px;
  color: black;
  position: relative;
  padding-left: 4%;
  top: 70%;
  font-size: 20px;
}

.artist-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
  grid-auto-rows: 350px;
  grid-gap: 40px;
  margin: 10px;
}

.background-artists img {
  position: fixed;
  z-index: -1;
  width: 100%;
  opacity: 0.17;
  left: 0;
  top: 0;
  overflow-x: hidden;
  object-fit: cover;
  height: 150%;
  transform: translateY(-16%);
}

.artist-page-employee {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 50px;
  background-color: rgb(223, 97, 0);
  color: white;
  cursor: pointer;
}

.artist-page--employee-name {
  height: 20%;
}

.artist-page-employee img {
  position: relative;
  margin-top: 50px;
  z-index: 1;
  width: 100%;
  height: 80%;
  object-fit: contain;
  opacity: 1;
}
