.main {
  grid-area: main;
}

.background-image {
  position: fixed;
  z-index: -1;
  opacity: 0.17;
  left: 0;
  top: 0;
  object-fit: cover;
  height: 150%;
  transform: translateY(-16%);
}

.artist-profile-wrapper {
  display: flex;
  flex-direction: column;
  width: 96.8vw;
  /* padding: 20px; */
  margin: 20px;

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.7) 60%
  );
  color: rgb(255, 153, 0);
}

.artist-page--profile-header {
  display: flex;
  justify-content: left;
  height: 120px;
  width: 100%;
  box-shadow: 0px 0.5px;
}

.artist-page--profile-header p {
  padding-top: 0px;
  color: #df6100;
  position: relative;
  padding-left: 0%;
  top: 65%;
  font-size: 30px;
  width: 100%;
  justify-content: center;
}

.profile-tabs {
  display: flex;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
}

.profile-content {
  display: flex;
  max-height: 50%;
}

.artist-profile-hours {
  display: grid;
  grid-template-columns: 1fr;
  color: #df6100;
  width: 69vw;
  height: 50vh;
  cursor: pointer;
  overflow-y: scroll;
}

.employee-customers-info,
.employee-hours-info,
.employee-upcoming-info,
.employee-edit-info,
.employee-delete-info {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.7) 60%
  );
  flex-grow: 1;
  margin: 10px;
}

.spacer {
  width: 40vw;
}

.artist-page-name {
  font-size: 50px;
  color: #df6100;
}

.artist-page-tab-section {
  display: flex;
  justify-content: space-around;
  width: 69vw;
}

.tab-general,
.tab-customers,
.tab-qv-calendar,
.tab-qv-hours,
.tab-next-appointments {
  flex-grow: 1;
  margin-top: 10px;
  margin-left: 1px;
  margin-right: 1px;
  padding: 20px 10px 20px 10px;
  color: #df6100;
}

div[class^="tab-"]:hover {
  background-color: #df6100;
  color: white;
  cursor: pointer;
}

.emp-service,
.emp-mobile,
.emp-email,
.emp-message,
.emp-edit,
.emp-delete {
  border-bottom: 1px solid #df6100;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #df6100;
  width: 60vw;
}

div[class^="emp-"]:hover {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.7) 60%
  );
  cursor: pointer;
}

.profile-image {
  display: flex;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.7) 60%
  );
  width: 40vw;
  margin: 10px;
  height: 500px;
  contain: content;
  align-items: baseline;
}

img[class^="user-image-"] {
  max-width: 100%;
  max-height: 100%;
}

.employee-edit-info,
.employee-delete-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.form-group {
  margin: 10px;
}

.form-group-imageupload {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-upload-items {
  display: flex;
}

#profile-image-upload {
  display: none;
}

.small-test-edit {
  color: white;
  font-size: 11px;
}

.artist-page--calendar-wrapper {
  width: 69vw;
  cursor: pointer;
  overflow-y: scroll;
  height: 53vh;
  padding-top: 10px;
  padding-right: 25px;
}

.artist-page--calendar-wrapper::-webkit-scrollbar {
  display: none;
}

.artist-page--upcoming-wrapper,
.artist-page--hours-wrapper {
  display: flex;
  color: #df6100;
  width: 69vw;
  height: 50vh;
  cursor: pointer;
  overflow-y: scroll;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 10px;
}

.profile-details,
.artist-page--customer-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  color: #df6100;
  width: 69vw;
  height: 50vh;
  cursor: pointer;
  overflow-y: scroll;
  padding-right: 10px;
}

.artist-page--hours-wrapper::-webkit-scrollbar,
.artist-page--upcoming-wrapper::-webkit-scrollbar,
.artist-page--customer-wrapper::-webkit-scrollbar {
  display: none;
}

div[class^="artist-upcoming-"],
div[class^="artist-hours-"],
div[class^="artist-client"] {
  height: 10vh;
  border-bottom: 1px solid #df6100;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #df6100;
}

.artist-page--total-hours {
  margin-top: 20px;
}
