.main {
  grid-area: main;
}

.dash-header {
  height: 120px;
  width: 100%;
  box-shadow: 0px 0.5px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.7) 10%
  );
}

.dash-header p {
  padding-top: 5px;
  color: rgb(223, 97, 0);
  position: relative;
  padding-left: 4%;
  top: 70%;
  font-size: 20px;
}

.main-overview-dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
  grid-auto-rows: 94px;
  grid-gap: 10px;
  margin: 10px;
}

.background-dash img {
  position: fixed;
  z-index: -1;
  width: 100%;
  opacity: 0.17;
  left: 0;
  top: 0;
  overflow: hidden;
  object-fit: cover;
  height: 150%;
  transform: translateY(-16%);
}

.overviewcard {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.7) 60%
  );

  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.card-container {
  display: flex;
  justify-content: space-evenly;
}

.artist-card {
  display: flex;
  color: black;
  flex-direction: row;
  align-items: center;
  justify-content: space;
  height: 100%;
  width: 100%;
}

.artist-card button {
  display: none;
  flex-grow: 1;
  height: 100%;
}

.artist-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 50px;
  background-color: rgb(223, 97, 0);
  color: white;
}

.card-text {
  align-items: center;
  justify-content: center;
  min-width: 30%;
  color: rgb(223, 97, 0);
}

.cards-calendar {
  margin-top: 30px;
  display: flex;
}

.main-cards {
  column-count: 2;
  column-gap: 10px;
  margin: 10px;
  flex-grow: 1;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  width: 100%;
  background-color: transparent;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.card-number {
  min-width: 30%;
  color: rgb(223, 97, 0);
}

.info-card-text {
  min-width: 70%;
  color: rgb(223, 97, 0);
}

.infoCards {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  transition: 0.4s;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.7) 60%
  );
}

.infocard-header {
  display: flex;
  flex-direction: column;
  color: white;
  height: 20%;
  width: 100%;
  font-size: 15px;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* border-radius: 10px 10px 0px 0px; */
  background-color: rgb(223, 97, 0);
}

.row-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.infocard-row {
  display: flex;
  height: 20%;
  width: 100%;
  color: rgb(223, 97, 0);
  margin-top: 10px;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  border: 1px solid rgba(250, 250, 250, 0.53);
}

.infocard-row:hover {
  background-color: rgb(255, 153, 0);
  color: black;
}

.calendar-section {
  column-count: 1;
  column-gap: 20px;
  height: 423px;
  margin: 10px;
  padding: 2px;
  margin-bottom: 50px;
  width: 50vw;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.7) 60%
  );
  margin-bottom: 20px;
  box-sizing: border-box;
  margin-bottom: 50px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.infocard-header:hover {
  box-shadow: 0 16px 66px 0 rgba(0, 0, 0, 0);
}

.artist-card:hover {
  cursor: pointer;
  box-shadow: 0 116px 616px 0 rgba(0, 0, 0, 0);
}

/* ipad pro */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
  .main-overview-dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
    grid-auto-rows: 94px;
    grid-gap: 20px;
    margin: 10px;
  }

  .calendar-section {
    column-count: 1;
    column-gap: 20px;
    height: 525px;
    margin: 15px;
  }

  .calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.7) 60%
    );
    box-sizing: border-box;
    /* border-radius: 10px 10px; */
    margin-bottom: 70px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  }

  .dash-header {
    height: 220px;
  }

  .dash-header p {
    padding-top: 12px;
    padding-left: 0%;
    color: rgb(223, 97, 0);
    position: relative;
    text-align: center;
    /* top: 70%;   */
    font-size: 20px;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
/* iphone 6 7 8 */
@media (min-device-width: 321px) and (max-device-width: 375px) {
  .background-dash img {
    position: fixed;
    z-index: -1;
    width: 100%;
    opacity: 0.17;
    left: 0;
    top: 0;
    overflow-x: hidden;
    object-fit: cover;
    height: 150%;
    transform: translateY(-16%);
  }
}

/* LANDSCAPE DASH BAR */

/* 
  ##Device = phones (landscape)
  ##Screen = B/w 768px to 1024px
*/

/* iphone 5 and se landscape */
@media only screen and (min-device-width: 568px) and (max-device-width: 568px) and (orientation: landscape) {
  .main {
    width: 568px;
  }

  .calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.7) 60%
    );
    margin-bottom: 20px;
    box-sizing: border-box;
    /* border-radius: 10px 10px; */
    margin-bottom: 500px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  }

  .calendar-section {
    column-count: 1;
    column-gap: 20px;
    height: 326px;
    margin: 10px;
    margin-bottom: 60px;
  }

  .dash-header {
    height: 90px;
    padding-left: 0%;
    width: 568px;
  }

  .dash-header p {
    padding-top: 5px;
    color: rgb(223, 97, 0);
    position: relative;
    padding-left: 0%;
    top: 56%;
    font-size: 20px;
  }

  .header-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
}

/* iphone x */
@media only screen and (min-device-width: 812px) and (max-device-width: 812px) and (orientation: landscape) {
  .calendar-section {
    column-count: 1;
    column-gap: 20px;
    height: 435px;
    margin: 10px;
    margin-bottom: 60px;
  }

  .dash-header {
    height: 150px;
  }

  .dash-header p {
    padding-top: 15px;
    color: rgb(223, 97, 0);
    position: relative;
    padding-left: 4%;
    top: 56%;
    font-size: 20px;
  }
}

/* pixel xl */
@media only screen and (min-device-width: 812px) and (max-device-width: 812px) and (orientation: landscape) {
  .calendar-section {
    column-count: 1;
    column-gap: 20px;
    height: 435px;
    margin: 10px;
    margin-bottom: 60px;
  }
}

@media only screen and (min-device-width: 569px) and (max-device-width: 823px) and (orientation: landscape) {
  .dash-header {
    height: 90px;
  }

  .dash-header p {
    padding-top: 5px;
    color: rgb(223, 97, 0);
    position: relative;
    padding-left: 0%;
    top: 56%;
    font-size: 20px;
  }

  .header-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
  }

  .calendar-section {
    column-count: 1;
    column-gap: 20px;
    height: 435px;
    margin: 10px;
    margin-bottom: 60px;
  }
}

@media only screen and (min-device-width: 736px) and (max-device-width: 736px) and (orientation: landscape) {
  .calendar-section {
    column-count: 1;
    column-gap: 20px;
    height: 444px;
    margin: 10px;
    margin-bottom: 60px;
  }
}

@media only screen and (min-device-width: 731px) and (max-device-width: 731px) and (orientation: landscape) {
  .calendar-section {
    column-count: 1;
    column-gap: 20px;
    height: 444px;
    margin: 10px;
    margin-bottom: 60px;
  }
}

/* ipad */
@media only screen and (min-device-width: 824px) and (max-device-width: 1024px) and (orientation: landscape) {
  .dash-header {
    height: 150px;
  }

  .dash-header p {
    padding-top: 15px;
    color: rgb(223, 97, 0);
    position: relative;
    padding-left: 4%;
    top: 56%;
    font-size: 20px;
  }

  .calendar-section {
    column-count: 1;
    column-gap: 20px;
    height: 435px;
    margin: 10px;
    margin-bottom: 60px;
  }
}

/* ipad pro */
@media only screen and (min-device-width: 1025px) and (max-device-width: 1366px) and (orientation: landscape) {
  .calendar-section {
    column-count: 1;
    column-gap: 20px;
    height: 472px;
    margin: 10px;
    margin-bottom: 60px;
  }

  .dash-header {
    height: 150px;
  }

  .dash-header p {
    padding-top: 15px;
    color: rgb(223, 97, 0);
    position: relative;
    top: 56%;
    font-size: 20px;
  }
}
