.dayView-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  flex-grow: 1;
}

.dayView-wrapper header {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hour-wrapper {
    overflow: auto;
    display: flex;
    flex-direction: row;
    height: 73vh;
}

.hour-wrapper::-webkit-scrollbar {
    display: none;
}


.employee-names-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.hours {
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-color: rgb(223, 97, 0, 0.8);
  border-style: solid;
  margin: 0px;
  width: 100px;
  text-align: center;
}

.name-wrapper {
    display: flex;
    flex-direction: row;
    /* border: 1px solid rgb(223, 97, 0, 0.8); */
    flex-grow: 1;
    border-left: 1px;
    border-right: 0px;
    border-top: 1px;
    border-bottom: 1px;
    border-color: rgb(223, 97, 0, 0.8);
    border-style: solid;
}

.employee-namespacer {
  margin: 0px;
  width: 99px;
  text-align: center;
}

.hour-times {
  border-left: 1px;
  border-right: 1.5px;
  border-top: 1px;
  border-bottom: 0px;
  border-color: rgb(223, 97, 0, 0.8);
  border-style: solid;
  margin: 0px;
  flex-grow: 1;
  height: 50px;
  padding-top: 15px;
  text-align: center;
  color: rgb(223, 97, 0);
}

.employee-names {
  border: 1px solid rgb(223, 97, 0, 0.8);
  border-width: 0px 1px 0px 0px;
  margin: 0px;
  height: 50px;
  width: 100%;
  padding-top: 15px;
  text-align: center;
}

.employee-cells {
  border: 1px solid rgb(223, 97, 0, 0.8);
  background-color: #fff;
  border-width: 1px 1px 0px 0px;
  margin: 0px;
  width: 100%;
  height: 50px;
  text-align: center;
  position: relative;
  z-index: 1;
  
}

div[class^="employees-column"] {
  flex-grow: 1;
  position: relative;
}

.eventContent {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1; padding: 1;
    border: 1px solid #ddd;
    border-width: 0px 1px 0px 0px;
}

.employee-cells:hover {
    border-radius: 3%;
    background-color:  rgb(223, 97, 0, 0.8);;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
  }

.event {
  min-height: 50px;
  border-radius: 3%;
  width: 98%;
  color: white;
  position: absolute;
  background-color: rgb(223, 97, 0, 0.8);
  z-index: 2;
  padding: 5px;
  cursor: pointer;
  border: solid 1px white;
  box-shadow: 1px 0px grey;
}

/*  ipad pro */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .day-header {
      width: 600px;
      padding-left: 3px;
      padding-right: 3px;
      padding-top: 10px;
    }

    .hour-wrapper {
      overflow: auto;
      display: flex;
      flex-direction: row;
      height: 75vh;
    }

    .month-days-wrapper {
      border-left: 1px;
      border-right: 1px;
      border-top: 1px;
      border-bottom: 1px;
      border-color: rgb(223, 97, 0, 0.8);
      color: rgb(223, 97, 0, 0.8);
      border-style: solid;
      height: 79vh;
    }
  }

/* Ipad portrait */
@media only screen and (min-device-width: 768px) and (orientation: portrait) {
  /* For general iPad layouts */
  .day-header {
    flex-grow: 8;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
  }

  /* .skip-button {
    padding: 0px;
    height: 35px;
  } */

  .selector {
    background-color:rgb(223, 97, 0);
    color: white;
    align-content: center;
    margin-bottom: 20px;
  }

  .month-days-wrapper {
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-bottom: 1px;
    border-color: rgb(223, 97, 0, 0.8);
    color: rgb(223, 97, 0, 0.8);
    border-style: solid;
    height: 79vh;
  }
}
/*  iphone 6 7 8 */
@media only screen and (min-device-width: 320px) and (max-width: 480px) and (orientation: portrait) {
  
  .hours {
    border: 1px solid #ddd;
    border-width: 0px 1px 0px 0px;
    margin: 0px;
    width: 50px;
    text-align: center;
  }
  .employee-namespacer {
    margin: 0px;
    width: 50px;
    text-align: center;
  }

  .hour-wrapper {
    overflow: auto;
    display: flex;
    flex-direction: row;
    height: 72vh;
  }

  .employee-namespacer {
    margin: 0px;
    width: 49px;
    text-align: center;
  }

  .month-header {
    padding-left: 3px;
    padding-right: 3px;
  }

  .hour-wrapper {
    overflow: auto;
    display: flex;
    flex-direction: row;
    height: 67vh;
  }

  .selector{
    background-color:rgb(223, 97, 0);
    color: white;
    text-align: center;
  }

  .day-header {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    font-size: 15px;
  }

  .month-days-wrapper {
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-bottom: 1px;
    border-color: rgb(223, 97, 0, 0.8);
    color: rgb(223, 97, 0, 0.8);
    border-style: solid;
    height: 77vh;
  }
  
}

@media only screen and (max-width: 320px) and (orientation: portrait) {
  .employee-namespacer {
    margin: 0px;
    width: 49px;
    text-align: center;
  }

  .month-header {
    padding-left: 3px;
    padding-right: 3px;
  }

  .day-header {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    font-size: 5px;
  }

  .skip-button {
    padding: 0px;
    height: 35px;
  }

  .selector {
    background-color:rgb(223, 97, 0);
    color: white;
    text-align-last: center;
  }

  .month-days-wrapper {
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-bottom: 1px;
    border-color: rgb(223, 97, 0, 0.8);
    color: rgb(223, 97, 0, 0.8);
    border-style: solid;
    height: 76vh;
  }
}

/* @media (max-device-height: 640px) {
  .hour-wrapper {
    overflow: auto;
    display: flex;
    flex-direction: row;
    height: 68vh;
  }

  .month-header {
    padding-left: 3px;
    padding-right: 3px;
  }

  .day-header {
    flex-grow: 2;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 6px;
  }
  .selector {
    background-color:rgb(223, 97, 0);
    color: white;
    text-align: center;
  }
} */

/* iphone SE / galaxy small screen */
@media only screen and (max-device-height: 568px) and (orientation: portrait) {
  .hour-wrapper {
    overflow: auto;
    display: flex;
    flex-direction: row;
    height: 62vh;
  }

  .day-header {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 6px;
    font-size: 13px;
  }

  .skip-button {
    padding: 7px;
    height: 35px;
    font-size: 15px;
  }

  .selector {
    margin-top: 2px;
    font-size: 15px;
    background-color:rgb(223, 97, 0);
    color: white;
    text-align-last: center;
  }

  .month-days-wrapper {
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-bottom: 1px;
    border-color: rgb(223, 97, 0, 0.8);
    color: rgb(223, 97, 0, 0.8);
    border-style: solid;
    height: 77vh;
  }
  
}
/* LANDSCAPE */

/* galaxy s5 */
@media only screen and (min-device-width: 568px) and (max-width: 568px) and (orientation: landscape) {
  .month-days-wrapper {
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-bottom: 1px;
    border-color: rgb(223, 97, 0, 0.8);
    color: rgb(223, 97, 0, 0.8);
    border-style: solid;
    height: 167.7vh;
  }
}

/* pixel */
@media only screen and (min-device-width: 640px) and (max-width: 731px) and (orientation: landscape) {
  .month-days-wrapper {
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-bottom: 1px;
    border-color: rgb(223, 97, 0, 0.8);
    color: rgb(223, 97, 0, 0.8);
    border-style: solid;
    height: 149vh;
  }

  .selector {
    height: 33px;
    margin-top: 1px;
    font-size: 15px;
    background-color:rgb(223, 97, 0);
    color: white;
    text-align-last: center;
  }
}

/* ipad landscape dayview */
@media only screen and (min-device-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
  .month-days-wrapper {
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-bottom: 1px;
    border-color: rgb(223, 97, 0, 0.8);
    color: rgb(223, 97, 0, 0.8);
    border-style: solid;
    height: 85vh;
  }
}

/* ipad pro landscape dayview */
@media only screen and (min-device-width: 1025px) and (max-width: 1366px) and (orientation: landscape) {
  .month-days-wrapper {
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-bottom: 1px;
    border-color: rgb(223, 97, 0, 0.8);
    color: rgb(223, 97, 0, 0.8);
    border-style: solid;
    height: 87vh;
  }
}