.appointment-modal-header {
    text-align: center;
    padding-left: 20px;
}

/* .appointment-modal-title {
    font-size: 15px;
} */

.appointment-modal-body-edit {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.appointment-form-group-edit {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    text-align: left;
}

.appointment-form-group label {
    
}

.appointment-form-control-edit {
    width: 100%;
    border: none;
    margin-top: 10px;
    height: 40px;
    padding-left: 10px;
    border:solid 1px #ccc;
    border-radius: 8px;
}

.appointment-modal-footer-edit{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
}

.save-button {
    border-radius: 8px;
    background-color: rgb(255, 153, 0);
    padding: 10px;
    color: white;
}

.close-button {
    border-radius: 5px;
    background-color: rgb(103, 103, 103);
    color: white;
    padding: 10px;
}

.delete-button {
    border-radius: 5px;
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 10px;
}

.appointment-modal-content-edit {
    background-color: white;
    border-radius: 10px;
    height: 70%;
    width: 50%;
    position: fixed;
      top: 50%;
      left: 50%;
      right: auto;
      bottom: auto;
    transform: translate(-50%, -50%);
    z-index: 5;
    box-shadow: 2px 7px 19px 0px rgba(0,0,0,0.75);
    padding: 20px;
}

/* 
  Device = Most of the Smartphones Mobiles (Portrait)
*/

@media (min-width: 321px) and (max-width: 760px) {
    .appointment-modal-content-edit {
        background-color: white;
        border-radius: 10px;
        height: 80%;
        width: 85%;
        position: fixed;
          top: 50%;
          left: 50%;
          right: auto;
          bottom: auto;
        transform: translate(-50%, -50%);
        z-index: 5;
        box-shadow: 2px 7px 19px 0px rgba(0,0,0,0.75);
        padding: 20px;
    }
   
    
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .appointment-modal-content-edit {
        background-color: white;
        border-radius: 10px;
        height: 70%;
        width: 75%;
        position: fixed;
          top: 50%;
          left: 50%;
          right: auto;
          bottom: auto;
        transform: translate(-50%, -50%);
        z-index: 5;
        box-shadow: 2px 7px 19px 0px rgba(0,0,0,0.75);
        padding: 20px;
    }
    
    
  }