footer {
    position: fixed;
    bottom: 0;
    color: white;
    background-color: rgb(223, 97, 0);
    height: 4%;
    width: 100%;
    z-index: 10;
}


/* LANDSCAPE Footer */

/* 
  ##Device = phones (landscape)
  ##Screen = B/w 568 to 823
*/

@media (min-width: 568px) and (max-width: 823px) and (orientation: landscape) {
    footer{
        height: 6%;
    }

    footer p {
        font-size: 14px;
        margin-top: 1px;
    }
}

/* ipad */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    footer{
        height: 6%;
    }

    footer p {
        font-size: 15px;
        margin-top: 10px
    }
}

/* ipad pro */
@media (min-width: 1025px) and (max-width: 1366px) and (orientation: landscape) {
    footer{
        height: 4%;
    }

    footer p {
        font-size: 15px;
        margin-top: 10px;
    }
}