.mini-month-wrapper {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
  }

  .skip-button-mini {
    border-radius: 8px;
    background-color: rgb(223, 97, 0);
    padding: 5px;
    color: white;
    margin: 2px;
  }
  
  .skip-button-wrap-mini {
    display: flex;
    flex-grow: 1;
  }

  .mini-days {
     /* flex-grow: 1; */
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     margin: 1; padding: 1;
  }
  
  .mini-days div {
    width: calc(100% * 1/7);
    height: 70px;
    border: 1px solid #ddd;
    border-width: 1px 0 0 1px;
  }
  
  .mini-days > div:nth-child(-n+7) {
    border-top-width: 0;
  }
  
  .mini-day-names {
    font-size: 1em;
    color: rgb(223, 97, 0);;
    flex-grow: 5;
    display: flex;
    align-items: center;
    
  }
  
  .mini-day-names p {
    border: 1px solid #ddd;
    border-width: 1px 0 0 1px;
    
    padding: 5px;
    margin: 0px;
    width: calc(100% * 1/7);
    flex-grow: 1;
    text-align: center;
  }
  
  .mini-day-number {
    color: rgb(223, 97, 0);
    float: right;
    padding: 1em;
  }
  
  /* .mini-day:hover {
    background-color: rgb(255, 142, 81);
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
  } */
  
  .mini-header-wrap {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    padding: 5px;
  }
  
  .mini-month-days-wrapper {
    border: 1px solid #ddd;
  }
  
  .month-text-wrapper {
    font-size: 15px;
    padding-top: 5px;
    display: flex;
    flex-grow: 1;
  }
  
  header {
    color: rgb(223, 97, 0);
  }

  .calendar {
    margin-bottom: 50px;
  }

@media (min-width: 1281px) {
  .skip-button-mini {
    border-radius: 8px;
    background-color: rgb(223, 97, 0);
    padding: 5px;
    color: white;
    margin: 5px;
    margin-top: 10px;
    padding-top:15px;
    height: 50px;
    width: 80px;
  }
  
  .skip-button-wrap {
    display: flex;
    flex-grow: 1;
  }

  .mini-days div {
    width: calc(100% * 1/7);
    height: 6.75vh;
    border: 1px solid #ddd;
    border-width: 1px 0 0 1px;
  }

  .mini-month-days-wrapper {
    border-color: rgb(223, 97, 0, 0.8);
  }

  .month-header {
    padding-top: 20px;
    flex-grow: 7;
    margin-bottom: 7px;
    width: 50%;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px)  and (orientation: portrait){
  .skip-button-mini {
    border-radius: 8px;
    background-color: rgb(223, 97, 0);
    padding: 5px;
    color: white;
    margin: 5px;
    margin-top: 10px;
    padding-top:15px;
    height: 50px;
    width: 100px;
  }
  
  .skip-button-wrap {
    display: flex;
    flex-grow: 1;
  }

  .mini-days div {
    width: calc(100% * 1/7);
    height: 6vh;
    border: 1px solid #ddd;
    border-width: 1px 0 0 1px;
  }

  .mini-month-days-wrapper {
    border-color: rgb(223, 97, 0, 0.8);
  }
}

/* Plus size phones */
@media only screen and (min-device-width: 411px) and (max-width: 767px) and (orientation: portrait) {
  .skip-button-mini {
    border-radius: 8px;
    background-color: rgb(223, 97, 0);
    padding: 5px;
    color: white;
    margin-top: 6px;
    font-size: 15px;
    height: 33px;
  }
  
  .skip-button-wrap {
    display: flex;
    flex-grow: 1;
  }

  .mini-month-days-wrapper {
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-bottom: 1px;
    border-color: rgb(223, 97, 0, 0.8);
    color:rgb(223, 97, 0, 0.8);
    border-style: solid;
    height: 76vh;
  }

  .mini-days div {
    width: calc(100% * 1/7);
    height: 9.5vh;
    border: 1px solid #ddd;
    border-width: 1px 0 0 1px;
  }

  .month-header {
    padding-top: 7px;
    flex-grow: 7;
    margin-bottom: 7px;
  }

  .mini-selector {
    height: 33px;
    margin-top: 1px;
    font-size: 15px;
    background-color:rgb(223, 97, 0);
    color: white;
    text-align-last: center;
  }

  .header-wrap {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 7px;
  }
}

/* iphone 6 7 8  */
@media only screen and (min-device-width: 321px) and (max-width: 375px) and (orientation: portrait) {
  .skip-button-mini {
    border-radius: 8px;
    background-color: rgb(223, 97, 0);
    padding: 5px;
    color: white;
    margin-top: 6px;
    font-size: 15px;
    height: 33px;
  }
  
  .skip-button-wrap {
    display: flex;
    flex-grow: 1;
  }

  .mini-month-days-wrapper {
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-bottom: 1px;
    border-color: rgb(223, 97, 0, 0.8);
    color:rgb(223, 97, 0, 0.8);
    border-style: solid;
    height: 76vh;
  }

  .mini-days div {
    width: calc(100% * 1/7);
    height: 10.5vh;
    border: 1px solid #ddd;
    border-width: 1px 0 0 1px;
  }

  .month-header {
    padding-top: 7px;
    flex-grow: 7;
    margin-bottom: 7px;
  }

  .selector {
    height: 33px;
    margin-top: 1px;
    font-size: 15px;
    background-color:rgb(223, 97, 0);
    color: white;
    text-align-last: center;
  }

  .header-wrap {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 7px;
  }
}

/* iphone SE / galaxy small screen */
@media only screen and (max-device-height: 568px) and (orientation: portrait) {
  .skip-button-mini {
    border-radius: 8px;
    background-color: rgb(223, 97, 0);
    padding: 5px;
    color: white;
    margin: 2px;
  }
  
  .skip-button-wrap {
    display: flex;
    flex-grow: 1;
  }

  .mini-month-days-wrapper {
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-bottom: 1px;
    border-color: rgb(223, 97, 0, 0.8);
    color:rgb(223, 97, 0, 0.8);
    border-style: solid;
    height: 72vh;
  }

  .mini-days div {
    width: calc(100% * 1/7);
    height: 12.5vh;
    border: 1px solid #ddd;
    border-width: 1px 0 0 1px;
  }

  /* .month-header {
    padding-top: 3px;
    flex-grow: 7;
  } */

  .header-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    margin-bottom: 3px;
  }


}

/* LANDSCAPE CSS */

/* galaxy s5 */
@media only screen and (min-device-width: 640px) and (max-device-width: 640px) and (orientation: landscape) {
  .mini-days div {
    width: calc(100% * 1/7);
    height: 19.6vh;
    border: 1px solid #ddd;
    border-width: 1px 0 0 1px;
  }

  .mini-month-days-wrapper {
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-bottom: 1px;
    border-color: rgb(223, 97, 0, 0.8);
    color:rgb(223, 97, 0, 0.8);
    border-style: solid;
    height: 108vh;
  }
}

/* iphone 6 7 8 landscape */
@media only screen and (min-device-width: 667px) and (max-device-width: 667px) and (orientation: landscape) {
  .mini-month-days-wrapper {
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-bottom: 1px;
    border-color: rgb(223, 97, 0, 0.8);
    color:rgb(223, 97, 0, 0.8);
    border-style: solid;
    height: 108vh;
  }
}  


/* iphone SE / galaxy small screen */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {  
  .dash-header {
    height: 90px;
  }

  .dash-header p {
    padding-top: 5px;
    color: rgb(223, 97, 0);
    position: relative;
    padding-left: 4%;
    top: 56%;
    font-size: 20px;
  }

  .mini-days div {
    width: calc(100% * 1/7);
    height: 15.2vh;
    border: 1px solid #ddd;
    border-width: 1px 0 0 1px;
  }

  .mini-month-days-wrapper {
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-bottom: 1px;
    border-color: rgb(223, 97, 0, 0.8);
    color:rgb(223, 97, 0, 0.8);
    border-style: solid;
    height: 107vh;
  }
}

/* ipad */
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) and (orientation: landscape) {
  .skip-button-mini {
    border-radius: 8px;
    background-color: rgb(223, 97, 0);
    padding: 10px;
    color: white;
    margin: 2px;
  }

  .mini-days div {
    width: calc(100% * 1/7);
    height: 8.8vh;
    border: 1px solid #ddd;
    border-width: 1px 0 0 1px;
  }

  .mini-month-days-wrapper {
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-bottom: 1px;
    border-color: rgb(223, 97, 0, 0.8);
    color:rgb(223, 97, 0, 0.8);
    border-style: solid;
    height: 107vh;
  }
}

@media only screen and (min-device-width: 736px) and (max-device-width: 811px) and (orientation: landscape) {
  .mini-month-days-wrapper {
    border: 1px solid rgb(223, 97, 0, 0.8);
  }
}

@media only screen and (min-device-width: 731px) and (max-device-width: 731px) and (orientation: landscape) {
  .mini-month-days-wrapper {
    border: 1px solid rgb(223, 97, 0, 0.8);
  }
}

/* iphone x */
@media only screen and (min-device-width: 812px) and (max-device-width: 812px) and (orientation: landscape) {
  .skip-button-mini {
    border-radius: 8px;
    background-color: rgb(223, 97, 0);
    padding: 15px;
    color: white;
    margin: 2px;
  }

  .month-header {
    padding-top: 10px;
    flex-grow: 7;
  }

  .mini-days div {
    width: calc(100% * 1/7);
    height: 17.7vh;
    border: 1px solid #ddd;
    border-width: 1px 0 0 1px;
  }

  .mini-month-days-wrapper {
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-bottom: 1px;
    border-color: rgb(223, 97, 0, 0.8);
    color:rgb(223, 97, 0, 0.8);
    border-style: solid;
    height: 107vh;
  }
}

/* pixel xl */
@media only screen and (min-device-width: 823px) and (max-device-width: 823px) and (orientation: landscape) {
  .mini-days div {
    width: calc(100% * 1/7);
    height: 16.1vh;
    border: 1px solid #ddd;
    border-width: 1px 0 0 1px;
  }
}

/* ipad pro */
@media only screen and (min-device-width: 1025px) and (max-device-width: 1366px) and (orientation: landscape) {
  .mini-days div {
    width: calc(100% * 1/7);
    height: 6vh;
    border: 1px solid #ddd;
    border-width: 1px 0 0 1px;
  }

  .month-header {
    padding-top: 15px;
    flex-grow: 7;
  }

  .skip-button-mini {
    border-radius: 8px;
    background-color: rgb(223, 97, 0);
    padding: 5px;
    color: white;
    margin: 5px;
    margin-top: 10px;
    padding-top:15px;
    height: 50px;
    width: 100px;
  }
  
  .skip-button-wrap {
    display: flex;
    flex-grow: 1;
  }

  .mini-month-days-wrapper {
    border-color: rgb(223, 97, 0, 0.8);
  }
}