/* Add a black background color to the top navigation */
.topnav {
  background-image: url("../../assets/vida-loca-tattoo-shop-front.jpg");
  background-position: 10% 30%; 
  background-repeat: no-repeat;
  background-size: 1500px 1000px;
  z-index: 2;
  box-shadow: inset 0 0 0 1000px rgb(223, 97, 0, 0.9);
  background-color: rgb(223, 97, 0);
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  top: 0;
  height: 80px;
  /* overflow: hidden; */
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav button {
  background-color: transparent;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
  font-size: 17px;
  border: none;
}

.topnav button a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav button:hover {
  background-color: rgb(255, 153, 0);
  color: black;
}

/* Add a color to the active/current link */
.topnav button:active {
  background-color: rgb(255, 153, 0);
  color: rgb(255, 153, 0);
}

.nav-user img{
  position: fixed; /* Needs to stay visible for all mobile scrolling */
  display: flex;
  top: 5px;
  width: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  right: 10px;
  margin-top: 8px;
}

.company-logo img {
  position: fixed; /* Needs to stay visible for all mobile scrolling */
  display: flex;
  top: 5px;
  left: 10px;
  width: 60px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  margin-top: 8px;
}

.company-name {
  bottom: 92%;
  color: white;
  position: fixed;
  justify-content: center;
  z-index: 1;
}

@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
  .topnav {
    background-image: url("../../assets/vida-loca-tattoo-shop-front.jpg");
    background-position: 10% 25%; 
    background-repeat: no-repeat;
    background-size: 750px 600px;
    z-index: 2;
    box-shadow: inset 0 0 0 1000px rgb(223, 97, 0, 0.9);
    background-color: rgb(223, 97, 0);
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    top: 0;
    height: 140px;
    width: 275%;
  }

  .nav-user img{
    position: fixed; /* Needs to stay visible for all mobile scrolling */
    display: flex;
    top: 25px;
    width: 80px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    right: 20px;
    margin-top: 8px;
  }
  
  .company-logo img {
    position: fixed; /* Needs to stay visible for all mobile scrolling */
    display: flex;
    top: 20px;
    left: 20px;
    width: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    margin-top: 8px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .company-name {
    bottom: 93%;
    font-size: 22px;
    color: white;
    position: fixed;
    justify-content: center;
    z-index: 1;
  }
  
}

@media (min-width: 768px) and (max-width: 770px) and (orientation: portrait) {
  /* For general iPad layouts */
  .topnav {
    background-image: url("../../assets/vida-loca-tattoo-shop-front.jpg");
    background-position: 10% 25%; 
    background-repeat: no-repeat;
    background-size: 750px 600px;
    z-index: 2;
    box-shadow: inset 0 0 0 1000px rgb(223, 97, 0, 0.9);
    background-color: rgb(223, 97, 0);
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    top: 0;
    height: 85px;
    width: 275%;
  }
}



@media (min-width: 320px) and (max-width: 480px) {
  .company-name {
    top: 5%;
    font-size: 25px;
    color: white;
    position: fixed;
    justify-content: center;
    z-index: 1;
  } 

  .topnav {
    background-image: url("../../assets/vida-loca-tattoo-shop-front.jpg");
    background-position: 16% 25%; 
    background-repeat: no-repeat;
    background-size: 750px 500px;
    z-index: 2;
    box-shadow: inset 0 0 0 1000px rgb(223, 97, 0, 0.9);
    background-color: rgb(223, 97, 0);
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    top: 0;
    height: 70px;
    width: 100%;
  }
}

@media (max-height: 640px) {
  /* Add a black background color to the top navigation */
.topnav {
  background-image: url("../../assets/vida-loca-tattoo-shop-front.jpg");
  background-position: 18% 24%; 
  background-repeat: no-repeat;
  background-size: 750px 500px;
  z-index: 2;
  box-shadow: inset 0 0 0 1000px rgb(223, 97, 0, 0.9);
  background-color: rgb(223, 97, 0);
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  top: 0;
  height: 70px;
  /* overflow: hidden; */
  width: 100%;
}


.nav-user img{
  position: fixed; /* Needs to stay visible for all mobile scrolling */
  display: flex;
  top: 5px;
  width: 45px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  right: 10px;
  margin-top: 8px;
}

.company-logo img {
  position: fixed; /* Needs to stay visible for all mobile scrolling */
  display: flex;
  top: 5px;
  left: 10px;
  width: 55px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  margin-top: 8px;
}

.company-name {
  bottom: 92%;
  color: white;
  position: fixed;
  justify-content: center;
  z-index: 1;
}
}


/* LANDSCAPE NAV BAR */

/* 
  ##Device = phones (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 568px) and (max-width: 823px) and (orientation: landscape) {
  .topnav {
    top: 0;
    height: 50px;
    width: 100%;
  }
  
  .nav-user img{
    top: 2px;
    width: 35px;
    right: 10px;
    margin-top: 8px;
  }
  
  .company-logo img {
    top: 2px;
    left: 10px;
    width: 43px;
    margin-top: 8px;
  }
  
  .company-name {
    bottom: 92%;
    color: white;
    position: fixed;
    justify-content: center;
    z-index: 1;
  }
  
}


/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .company-name {
    bottom: 91%;
    color: white;
    position: fixed;
    justify-content: center;
    z-index: 1;
  }
  
}
