.sidebar {
  grid-area: sidenav;
  background-image: url("../../assets/DanWatsonJapTatt.jpg");
  background-position: center; 
  background-repeat: no-repeat;
  background-size: 550px 1000px;
  /* filter: grayscale(100%); */
  box-shadow: inset 0 0 0 1000px rgba(51, 51, 51,0.9);
  display: flex;
  flex-direction: column;
  z-index: 6;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #333;
  color: white;
  text-decoration: none;
  position: fixed;
  top: 80px;
  height: 100%;
  overflow: auto;
}

.sidebar button {
  text-align: left;
  display: block;
  background-color: transparent;
  color: black;
  padding: 10%;
  text-decoration: none;
  border: none;
  font-size: 100%;
  width: 100%;
  cursor: pointer;
  color: white;
}

.sidebar a {
  text-decoration: none;
  color: white;
}

.sidebar button:active {
    background-color: rgb(0, 250, 8);
    color: white;
  }

.sidebar button:hover:not(.active) {
  background-color: rgba(223, 97, 0, 0.8);
  color: white;
}

.sidebar div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}


/*  ipad pro */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .sidebar { 
      background-image: url("../../assets/DanWatsonJapTatt.jpg");
      background-position: center; 
      background-repeat: no-repeat;
      background-size: 850px 1300px;
      /* filter: grayscale(100%); */
      box-shadow: inset 0 0 0 1000px rgba(51, 51, 51,0.9);
      z-index: 1;
      width: 100%;
      background-color: #333;
      color: white;
      text-decoration: none;
      position: fixed;
      top: 140px;
      height: 100%;
      overflow: auto;
    }

    .sidebar button {
      text-align: center;
      display: block;
      background-color: transparent;
      color: black;
      padding: 10%;
      text-decoration: none;
      border: none;
      font-size: 100%;
      width: 100%;
      cursor: pointer;
      color: white;
    }
  }


@media (min-device-width: 768px) and (max-device-width: 1023px) {
.sidebar { 
  background-image: url("../../assets/DanWatsonJapTatt.jpg");
  background-position: center; 
  background-repeat: no-repeat;
  background-size: 850px 1300px;
  /* filter: grayscale(100%); */
  box-shadow: inset 0 0 0 1000px rgba(51, 51, 51,0.9);
  z-index: 1;
  width: 100%;
  background-color: #333;
  color: white;
  text-decoration: none;
  position: fixed;
  top: 80px;
  height: 100%;
  overflow: auto;
}

.sidebar button {
  text-align: center;
  display: block;
  background-color: transparent;
  color: black;
  padding: 10%;
  text-decoration: none;
  border: none;
  font-size: 100%;
  width: 100%;
  cursor: pointer;
  color: white;
}

.sidebar a {
  text-decoration: none;
  color: white;
}

.sidebar button:active {
    background-color: rgb(0, 250, 8);
    color: white;
  }

.sidebar button:hover:not(.active) {
  background-color: rgba(223, 97, 0, 0.8);
  color: white;
}

.sidebar div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
  
}
}

/* Plus size and pixels */
@media (min-device-width: 321px) and (max-device-width: 823px) {
  .sidebar {
    grid-area: sidenav;
    width: 100%;
    top: 70px;
  }

  .sidebar button {
    text-align: center;
  }
}

/* iphone 6 7 8 */
@media (min-device-width: 321px) and (max-device-width: 375px) {
  .sidebar {
    grid-area: sidenav;
    background-image: url("../../assets/DanWatsonJapTatt.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 650px 1100px;
    /* filter: grayscale(100%); */
    box-shadow: inset 0 0 0 1000px rgba(51, 51, 51,0.9);
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-decoration: none;
    position: fixed;
    top: 70px;
    height: 100%;
    overflow: auto;
  }
}

/* iphone SE / galaxy small screen */
@media (max-device-height: 568px) {
  .sidebar {
    grid-area: sidenav;
    background-image: url("../../assets/DanWatsonJapTatt.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 650px 1100px;
    /* filter: grayscale(100%); */
    box-shadow: inset 0 0 0 1000px rgba(51, 51, 51,0.9);
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-decoration: none;
    position: fixed;
    top: 70px;
    height: 100%;
    overflow: auto;
  }
}

/* landscape */

/* galaxy s5 */
@media only screen and (min-device-width: 568px) and (max-device-width: 823px) and (orientation: landscape) {
  .sidebar {
    grid-area: sidenav;
    top: 50px;
  }
}

/* ipad pro */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: landscape) {
  .sidebar { 
    background-image: url("../../assets/DanWatsonJapTatt.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 850px 1300px;
    /* filter: grayscale(100%); */
    box-shadow: inset 0 0 0 1000px rgba(51, 51, 51,0.9);
    z-index: 1;
    width: 100%;
    background-color: #333;
    color: white;
    text-decoration: none;
    position: fixed;
    top: 80px;

  }

  .sidebar button {
    text-align: center;
    display: block;
    background-color: transparent;
    color: black;
    padding: 10%;
    text-decoration: none;
    border: none;
    font-size: 100%;
    width: 100%;
    cursor: pointer;
    color: white;
  }
}

/* ipad pro */
@media only screen and (min-device-width: 1025px) and (max-device-width: 1366px) and (orientation: landscape) {
  .sidebar { 
    background-image: url("../../assets/DanWatsonJapTatt.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 850px 1300px;
    /* filter: grayscale(100%); */
    box-shadow: inset 0 0 0 1000px rgba(51, 51, 51,0.9);
    z-index: 1;
    width: 100%;
    background-color: #333;
    color: white;
    text-decoration: none;
    position: fixed;
    top: 80px;

  }

  .sidebar button {
    text-align: center;
    display: block;
    background-color: transparent;
    color: black;
    padding: 10%;
    text-decoration: none;
    border: none;
    font-size: 100%;
    width: 100%;
    cursor: pointer;
    color: white;
  }
}