.App {
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
}

.App::-webkit-scrollbar {
  display: none;
}

@media (min-device-width: 1024px) and (max-device-width: 1366px) {
  .App {
    height: 150vh;
  }
}
